<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= image_tag('logo.png', class: 'logo-img inline-block') %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <%= link_to 'Salir', logout_path, method: :delete %>
          <%= link_to 'Home', root_path %>
        <% else %>
          <li><%#= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
